[project]
	description = Computation using data flow graphs for scalable machine learning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AEGQ (AEGQ)
[access "refs/for/refs/*"]
	read = group user/AEGQ (AEGQ)
	push = group user/AEGQ (AEGQ)
	label-Code-Review = -2..+2 group user/AEGQ (AEGQ)
	label-Verified = -1..+1 group user/AEGQ (AEGQ)
	rebase = group user/AEGQ (AEGQ)
	removeReviewer = group user/AEGQ (AEGQ)
	submit = group user/AEGQ (AEGQ)
[access "refs/heads/*"]
	read = group user/AEGQ (AEGQ)
	create = group user/AEGQ (AEGQ)
	push = +force group user/AEGQ (AEGQ)
	pushMerge = group user/AEGQ (AEGQ)
[access "refs/tags/*"]
	push = group user/AEGQ (AEGQ)
	push = +force group user/AEGQ (AEGQ)
